<div class="card rounded shadow-sm p-3 container">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por nome"
          (input)="filtrarMestres($event.target)">
      </div>
      <div class="d-flex">
        <div class="form-check mr-3">
          <input class="form-check-input pointer" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked (click)="carregarMestres()">
          <label class="form-check-label pointer" for="flexRadioDefault1">
            Todos
          </label>
        </div>
        <div class="form-check mr-3">
          <input class="form-check-input pointer" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="carregarMestres('DN')">
          <label class="form-check-label pointer" for="flexRadioDefault2">
            Diretoria de Núcleos
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input pointer" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="carregarMestres('DE')">
          <label class="form-check-label pointer" for="flexRadioDefault3">
            Diretoria Executiva
          </label>
        </div>
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/mestres/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <span class="ml-1 d-none d-sm-block">Novo</span>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark text-center">
      <tr>
        <th class="text-left d-none d-md-table-cell">
          <button class="btn btn-sm btn-outline-light" (click)="exibirImagem()">
            <i class="{{!exibirImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          </button>
        </th>
        <th>#</th>
        <th>Tipo</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opções</th>
      </tr>
    </thead>

    <tbody class="text-center" *ngIf="mestres && mestres.length">
      <tr *ngFor="let mestre of mestres" (click)="detalheMestre(mestre._id)" style="cursor: pointer" tooltip="Clique para editar">
        <td class="d-none d-md-table-cell">
          <img
            [collapse]="!exibirImg"
            [isAnimated]="true"
            [src]="mostraImagem(mestre.imagemUrl)"
            [style.width.px]="largImg"
            [style.height.px]="altImg"
            [style.margin.px]="margemImg">
        </td>
        <td>{{ mestre._id }}</td>
        <td>{{ mestre.tipo == "DE" ? 'Diretoria Executiva' : 'Diretoria de Núcleos'}}</td>
        <td>{{ mestre.nome }}</td>
        <td style="width: 800px">{{ mestre.descricao }}</td>
        <td>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="openModal($event, template, mestre._id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!mestres.length">
      <tr>
        <td colspan="8">
          <h4 class="text-center">Nenhum mestre encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"

      [(ngModel)]="pagination.currentPage"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"

      pageBtnClass="btn"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir o mestre {{mestreId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
