
@import "~swiper/css";
@import "~swiper/css/pagination";
.mySwiperDimension {
  max-height: 450px;
  width: 100%;
  margin: 0;
}

.swiper-slide-2 {
  text-align: center;
  font-size: 16px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img-mestre{
  width: 40%;
  height: 100%;
  img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.info{
  padding: 0 20px;
  width: 40%;
  height: 100%;
  text-align: left;
  h3{
    font-size: 23px;
  }
}
.socials {
  i {
    font-size: 20px;
  }
  .facebook {
    i { color: #0165E1; }
  }
  .instagram{
    i { color: #E1306C; }
  }
}
.swiper-slide-2{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .mySwiperDimension {
    max-height: 100%;
    height: 100%;
  }
  .info{
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .swiper-slide-2, .flex-row-reverse{
    flex-direction: column !important;
  }
  .img-mestre{
    width: 60%;
  }
}

@media screen and (max-width: 540px){
  .img-mestre{
    width: 100%;
  }
}
