<app-titulo-container [titulo]="titulo"></app-titulo-container>
<div class="container carousel mt-4">
  <swiper [pagination]="{ dynamicBullets: true }" [navigation]="true" class="mySwiper2 mySwiperDimension">
    <ng-template swiperSlide class="swiper-slide-2 {{addClassFlexRowReverse()}}" *ngFor="let item of itens">
      <div class="img-mestre">
        <img [src]="mostraImagem(item.imagemUrl)" alt="">
      </div>
      <div class="info">
        <h3>{{item.nome}}</h3>
        <p>{{item.descricao}}</p>
        <div class="socials">
          <div class="facebook">
            <a href="#" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <span> @testedearroba</span>
          </div>
          <div class="instagram">
            <a href="#" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <span> @testedearroba_</span>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
